* {
    font-family: 'Roboto', sans-serif;
    border: 0px solid red;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.header-links {
    display: flex;
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    gap: 24px;
}

.header-logo {
    font-weight: 500;
    font-size: 24px;
    color: #F9FAF8
}

.section {
    flex-basis: 350px;
}

.section.one,
.footer {
    background-color: #1F2937;
}
.section.three,
.footer {
    background-color: #E5E7EB;
}


